.bg-color {
  background-color: #04b032;
  height: 35px;
}
.brand-info {
  font-size: 12px;
  color: #fff;
  margin-left: 450px;
}
.brand-info :hover {
  color: #fff !important;
}
.infoPluvial {
  cursor: pointer;
  float: right;
  margin-right: 90px;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  margin-left: 175px;
}

.nav-item > a:hover {
  color: green !important;
}

.nav-item > li a:active {
  color: green;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 13px;
  padding-left: 19px;
}

.sign-info {
  margin-left: 100px;
  width: 90px;
  height: 40px;
  color: white !important;
  /* padding: 8px; */
  font-size: 12px;
}
.sigin {
  margin-left: -7px;
  color: white;
}
.sigin:hover {
  color: white;
}

.btn-success {
  margin-top: 1px;
  background-color: #04b032 !important;
  border: none;
}

@media only screen and (max-width: 600px) {
  bg-color {
    background-color: #04b032;
    height: 40px;
  }
}

/* .navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
} */

.contact-space {
  margin-left: 21.5rem !important;
}
