<!-- Header Start -->
<div class="">
    <div class="box bg-color">
      <div class="navbar-brand brand-info">
        <p class="mt-1">First interactive map with AI detected fields and crops. <span class="explor">Explore</span><span
            class="infoPluvial mr-4">Info@Pluvial.ai</span></p>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white ml-4">
      <a class="navbar-brand" routerLink="/home">
        <h3>Pluvial</h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item nav-red active">
            <a class="nav-link" href="#">Explore <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pluvial App</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Devices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">For Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Support </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact </a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link btn bg-color sign-info" href="#" type="button">
              <span class="sigin">Sign In</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div> 
  <!-- Header End -->