<!-- Header Start -->
<div class="">
  <div class="box bg-color fixed-top">
    <div class="navbar-brand fixed-top brand-info">
      <p class="">
        First interactive map with AI detected fields and crops.
        <span class="explor">Explore</span
        ><span class="infoPluvial">Info@Pluvial.ai</span>
      </p>
    </div>
  </div>
</div>
<div class="">
  <nav class="mt-4 navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="../assets/images/logo.PNG"
        alt="logo"
        height="50vh"
        width="100%"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Explore <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/platform">Platform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/devices">Devices</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">For Business</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/team">Team </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/support" target="_blank">Support </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact </a>
        </li>
        <li class="nav-item contact-space">
          <a
            class="nav-link btn bg-color sign-info"
            routerLink="/contact"
            type="button"
          >
            <span class="sigin">Contact Us</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- Header End -->
