<!-- Header Start -->
<app-header></app-header>
<!-- Header End -->
<div class="background-banner">
  <img src="/assets/images/Pluvial-page.png" height="100%" width="100%" />
</div>
<div class="container">
  <h2 class="pluvial-app-title"><u>Pluvial App</u></h2>
  <div class="row">
    <div class="col-lg-6">
      <img
        src="/assets/farming-img/Planting-Carrot-and-Radish.png"
        alt="carrot"
        width="500"
        height="250"
      />
    </div>
    <div class="col-lg-6">
      <h4>Pluvial App</h4>
      <p>
        Pluvial is a technology company founded by farmers, water resources
        specialists, data scientists and software experts. Our mission is to
        build a AI based platform for that affordable and globally accessible by
        farmer, water utilities and consumers to efficiently manage most
        precious and fine resource - Water.
      </p>
    </div>
  </div>
  <div class="row">
    <h2 class="pluvial-app-title"><u>Technology</u></h2>
    <div class="col-lg-4">
      <h4 class="text-color">Artificial Intelligence</h4>
      <p>
        Pluvial platform uses artificial intelligence and machine learning to
        forecasts downscale to provide concise, accurate and actionable
        information for farmers.
      </p>
    </div>
    <div class="col-lg-4">
      <h4 class="text-color">Cloud Deployed</h4>
      <p>
        Pluvial engineered & deployed on Microsoft Azure cloud to empower
        developers and data scientists to build, train and deploy forecasting
        models globally quickly and accurately.
      </p>
    </div>
    <div class="col-lg-4">
      <h4 class="text-color">Geospatial</h4>
      <p>
        Pluvial leverages ESRI’ for location intelligence using their powerful
        ArcGIS software for gathering, managing and analyzing geospatial data.
      </p>
    </div>
  </div>
</div>

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
