<!-- Header Start -->
<app-header></app-header>
<!-- Header End -->

<div class="container">
  <div class="row img-post">
    <div class="col-lg-8">
      <img
        src="../assets/images/team.jpg"
        alt="teams"
        height="400vh"
        width="110%"
      />
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <h4>Most read ❤️</h4>
      <p class="blog-hr-line"></p>
      <div class="mt-2">
        <p>
          VRA <br />
          <span class="blog-side-tilte"
            ><b>How We Determine Variable Nitrogen Rates</b></span
          ><br />
          <span class="sub-text">7-minute read · En · Ru</span>
        </p>
      </div>
      <div class="mt-2">
        <p>
          Field Scouting <br />
          <span class="blog-side-tilte"
            ><b>The 10 Best YouTube Channels for Farmers</b></span
          ><br />
          <span class="sub-text">6-minute read · En · Ru</span>
        </p>
      </div>
      <div class="mt-2">
        <p>
          Field Scouting <br />
          <span class="blog-side-tilte"
            ><b></b> How to Monitor Fields with OneSoil Scouting</span
          ><br />
          <span class="sub-text">7-minute read · En · Ru</span>
        </p>
      </div>
      <div class="mt-2">
        <p>
          VRA <br />
          <span class="blog-side-tilte"
            >What the NDVI Index Is and How It Makes a Farmer's Life
            Easier</span
          ><br />
          <span class="sub-text">4-minute read · En · Ru</span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>New Technologies in Agriculture and How They Help Farmers</h2>
      <span class="sub-text"
        >December 9 · English · Russian · Español · Portugués</span
      >
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>

<div class="mt-4">
  <div class="row content-bar">
    <div class="col-lg-3">
      <div class="p-4">
        <h3>Latest articles ✨</h3>
        <div class="img-info">
          <img
            src="https://static.tildacdn.com/tild6663-6163-4532-a563-656338346237/27082021_latest_1_en.svg"
            alt=""
          />
          <p>Farmer's Stories</p>
          <h5>
            Do you have to plant more in the high-productivity zone? A huge
            experiment with 6 hybrids in Ukraine
          </h5>
          <span class="sub-text">7-minute read · En · Ru</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-4">
      <div class="p-4">
        <div class="img-info">
          <img
            class=""
            src="https://thumb.tildacdn.com/tild6138-6439-4261-a630-326161323338/-/resize/520x/-/format/webp/27082021_latest_2.png"
            alt=""
            height="260vh"
            width="280"
          />
          <p>Farmer's Stories</p>
          <h5>
            Do you have to plant more in the high-productivity zone? A huge
            experiment with 6 hybrids in Ukraine
          </h5>
          <span class="sub-text">7-minute read · En · Ru</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-4">
      <div class="p-4">
        <div class="img-info">
          <img
            class=""
            src="https://thumb.tildacdn.com/tild6132-3534-4331-b963-333932663332/-/resize/520x/-/format/webp/27082021_latest_3.png"
            alt=""
            height="260vh"
            width="280"
          />
          <p>Farmer's Stories</p>
          <h5>
            Do you have to plant more in the high-productivity zone? A huge
            experiment with 6 hybrids in Ukraine
          </h5>
          <span class="sub-text">7-minute read · En · Ru</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-4">
      <div class="p-4">
        <div class="img-info">
          <h5>Don’t miss the latest articles. Subscribe to our newsletter!</h5>
          <input class="p-2 w-100" type="text" placeholder="Your e-mail" />
          <button class="btn btn-primary mt-3 w-100 subscribe-btn">
            <b>Subscribe</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-search">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-1"></div> -->
      <div class="col-lg-10">
        <input
          class="p-3 mt-4 w-100 input-serach"
          type="search"
          placeholder="I'm searching for..."
        />
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary p-2 mt-4 w-100 search-btn">
          <b>Search</b>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Footer End -->
<app-footer></app-footer>
<!-- Footer End -->
