<!-- Header Start -->
<app-header></app-header>
<!-- Header End -->

<div class="background-banner banner-info">
  <img src="/assets/images/teams.png" height="400vh" width="100%" />
</div>

<div class="container">
  <div class="row mt-4">
    <div class="col-lg-7">
      <h1 class="mb-4">The Pluvial Company</h1>
      <div class="team-content">
        <p>
          We develop web and mobile precision farming apps that are based on
          satellite imagery and machine learning technologies.
        </p>
        <p>
          OneSoil began as an initiative between two friends. The co-founders,
          Usevalad Henin and Slava Mazai, met in Minsk in 2014. In the
          beginning, they did custom orders for farmers. Slava would take
          pictures from a drone, and Usevalad would make maps for the
          variable-rate application (VRA) of fertilizers based on their
          analysis.
        </p>
        <p>
          In 2016, Sasha Yakovlev became the third co-founder. The team began
          using machine learning algorithms to process field data, and the
          company expanded to six people. Everyone worked for free. For a year
          and a half, no one took a salary. At the end of 2017, the company
          received its first investment. This allowed the team to work faster to
          create the free OneSoil apps that launched in the summer of 2018.
        </p>
        <p></p>
      </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-3">
      <!-- <div class="team-people">
        <h1>
          66<span class="team-people1">&nbsp;<b>people</b></span>
        </h1>
        <p class="team-color team-people2">work at on Pluvial</p>
      </div>
      <div class="team-people">
        <h1>
          2017<span class="team-people1">&nbsp;<b></b></span>
        </h1>
        <p class="team-color team-people2">Pluvial was founded</p>
      </div> -->
    </div>
  </div>

  <section class="team section">
    <div class="container">
      <h1 class="section-title">Our Team Section</h1>
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="team-item">
            <figure>
              <img src="/assets/images/person_110935.png" alt="" />
              <figcaption>
                <div class="info">
                  <h3>Alan Stuart</h3>
                  <p>Chief Executive Officer</p>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="team-item">
            <figure>
              <img src="/assets/images/person_110935.png" alt="" />
              <figcaption>
                <div class="info">
                  <h3>Temta Swang</h3>
                  <p>Python Lead</p>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="team-item">
            <figure>
              <img src="/assets/images/person_110935.png" alt="" />
              <figcaption>
                <div class="info">
                  <h3>Michael Slater</h3>
                  <p>Marketing Manager</p>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="team-item">
            <figure>
              <img src="/assets/images/person_110935.png" alt="" />
              <figcaption>
                <div class="info">
                  <h3>Michael Slater</h3>
                  <p>Marketing Manager</p>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="background-banner">
  <img src="/assets/images/teams1.jpg" height="100%" width="100%" />
</div>

<!-- Footer End -->
<app-footer></app-footer>
<!-- Footer End -->
