<!-- Header Start -->
<app-header></app-header>
<!-- Header End -->

<!-- Content Bar 1  Start -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 p-5 mt-4">
      <h4>Monitor fileds with anywhere with your smart phone</h4>
      <p class="mt-4 text-secondary">
        Monitor stress levels of the vegetation on your farm using Pluvial.ai
      </p>
      <p class="mt-4 text-secondary">
        Remotely monitor the crops and orchards on your property, spot check the areas of stress levels, real-time, and taking immediate necessary actions to eliminate the impact on the crop yield. Orchard stress during the crop year not only decrease the crop production but may impact the next year(s) crop numbers by quality and quantity.      </p>
      <p class="mt-4 text-secondary">
        Pluvial.ai does this monitoring with minimum or no devices on the field, hence no installation cost and no period maintenance.

      </p>
   
      <div>
        <img src="../assets/images/google-play-store.png" height="50" width="100" class="" />
        <span style="margin-left: 20px;"> <img src="../assets/images/google-play-store.png" height="50"
            width="100" /></span>
      </div>
    </div>
  </div>
</div>

<!-- Content Bar 1 End -->

<!-- Content Bar 2 Start -->
<div class="container">
  <div class="row p-5">
    <div class="col-md-4 col-12 p-0 green-card mt-4">
      <div class="program-bar p-4">
        <h5 class="">Inconsistences</h5>
        <p class="mt-2 pinfo">
          Pluvial.ai will monitor for inconsistences in the irrigation and alerts the growers 
          and the subscribers, to avoid under or overwatering conditions. Consistent schedule and 
          irrigation will improve the crop growth and quality, which will create more reliable food 
          supplies. 
        </p>
      </div>
    </div>

    <div class="col-md-8 col-12 content_body_2  mt-4">
      <div class="yellow-box p-4">
        <div class="row">
          <div class="col-md-4 col-12 p-3">
            <div class="white-box"></div>
            <div class="mt-4">
              <h6 class="">Owners</h6>
              <p class="" style="word-wrap: break-word !important;">
                Owners who own a ranch - leased or custom farmed by a third-party individual or a company.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-12 main-white-box p-3">
            <div class="white-box1"></div>
            <div class="mt-4">
              <h6 class="">Custom farming company</h6>
              <p class="" style="word-wrap: break-word !important;">
                To provide their customers with the visibility of the quality work they do.
              </p>
            </div>
          </div>
          <div class="col-md-4  col-12 p-3">
            <div class="white-box"></div>
            <div class="mt-4">
              <h6 class="">Farmer </h6>
              <p class="" style="word-wrap: break-word !important;">
                To track the consistency of the irrigation work by himself or by his staff or contract servicer  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Bar 2 End -->

<!-- Content Bar 3  Start -->
<div class="body-content-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4  col-12 mt-4">
        <h6 class="">Monitor</h6>
        <p class="mt-4 text-secondary">
          Pluvial.ai will carefully monitor the weather forecast and will alter the irrigator to skip 
          or change the irrigation schedule. Application also provides an insight on the orchard stress 
          level based on the water timing, for example water at night vs during the day or in the evening.  
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="Easytouse">
              <div class="row">
                <div class="col-md-12 p-3">
                  <p class="smallcircle"></p>
                  <p class="easy_title"><strong>Build Communication </strong></p>
                  <p>
                    Between the Users (different roles) assigned to their ag. properties 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="Easytouse_white">
              <div class="row">
                <div class="col-md-12 p-4">
                  <p class="smallcircle_yashcolor"></p>
                  <p class="easy_title"><strong>Forecast</strong></p>
                  <p>
                    The water situation and to procure the amount of water ahead of time
                   </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="Easytouse_white">
              <div class="row">
                <div class="col-md-12 p-4">
                  <p class="smallcircle_yashcolor"></p>
                  <p class="easy_title"><strong>Easy to use</strong></p>
                  <p>
                    The water situation and to procure the amount of water ahead of time
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="Easytouse_white">
              <div class="row">
                <div class="col-md-12 p-4">
                  <p class="smallcircle_yashcolor"></p>
                  <p class="easy_title"><strong>Easy to use</strong></p>
                  <p>
                    Between the Users (different roles) assigned to their ag. properties 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Content Bar 3 End -->

<!-- Content Bar 4 Start -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-5 mt-4"></div>
    <div class="col-md-7 mt-4">
      <h5>Visiting The Dover School students Accomplishments</h5>
      <p class="mt-4">Thank you for visting The Dover School website. We are very proud of our students'
        accomplishments, as well as our deep commitment to creatinga a warm and inviting community school. </p>
      <div class="row">
        <div class="col-md-6 mt-4">
          <h6>
            Monitoring Multiple Ranches
          </h6>
          <p class="mt-2">
            User can add multiple properties to the application, by address search and plot the 
            boundaries, and start monitoring.
          </p>
        </div>
        <div class="col-md-6 mt-4">
          <h6>Data from real-time sources</h6>
          <p class="mt-2">
            As soon boundaries plotted, application will start monitoring the property collecting the data from various sources, historical and real-time and show the details on the plotted area. 
            More accuracy can be attained by adding additional devices 
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-4">
          <h6>Minimum or no sensors required</h6>
          <p class="mt-2">
            Application collects the data from various sources, 
            historical and real-time and run by the ai engine to capture the details to show the plotted area. 
            More accuracy can be attained by adding additional devices
            </p>
        </div>
        <div class="col-md-6 mt-4">
          <h6>Mobile App and data at your fingertips</h6>
          <p class="mt-2">
            Pluvial.ai application is a mobile application available on both stores. 
            All the data and the services including the AI are hosted on Cloud platform. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Bar 4 End -->

<!-- Content Bar 5 Start -->
<div class="container mt-4">
  <h4 class="">Most Popular Courses</h4>
  <div class="row">
    <div class="col-md-3 col-12 mt-2">
      <div class="mt-4">
        <div class="card-info">
          <img class="card-img-top rounded-top" src="../assets/rice-img.jpg" alt="Card image cap" height="147px">
          <div class="card-body">
            <span class="card-text">Irrigation schedule and historical view
            </span>
            <p class="mt-3">Easy to configuration details about the crop and the plants. Easy to draw the irrigation blocks and arrange the sequencing of the irrigation. once setup is done, application will capture the irrigation details and correlate to the ranch stress levels to provide a detail view to the app consumer. Data is stored for historical and analytical purposes   
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
      <div class="mt-4">
        <div class="card-info">
          <img class="card-img-top rounded-top" src="../assets/boat.jpg" alt="Card image cap" height="147px">
          <div class="card-body">
            <span class="card-text">User setup and Roles
            </span>
            <p class="mt-3">Application has ability to setup multiple users and defined their roles like Farm Owner, Supervisor, Irrigator, PCA etc.. Accessibility is driven by the roles. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
      <div class="mt-4">
        <div class="card-info">
          <img class="card-img-top rounded-top" src="../assets/city.jpg" alt="Card image cap" height="147px">
          <div class="card-body">
            <span class="card-text">
              Messaging capabilities
            </span>
            <p class="mt-3">
              Application can be used as messaging tool between the Users Administrators, Supervisor, Irrigators and PCA’s. messages begin at one place will make it easy to refer and can be archived for future reference
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
      <div class="mt-4">
        <div class="card-info">
          <img class="card-img-top rounded-top" src="../assets/green-land.jpg" alt="Card image cap" height="147px">
          <div class="card-body">
            <span class="card-text">Notifications</span>
            <p class="mt-3">
              Pluvial.ai alerts can be configured by each User. Admin can setup range and risk levels so the monitoring application can dispatch the alters            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Bar 5 End -->

<!-- Content Bar 6 Start -->
<div class="container mt-4">
  <div class="row-info">
    <div class="col-md-1 col-12 mt-4"></div>
    <div class="col-md-5 col-12 mt-4">
      <div class="black-box mt-4">
        <div class="black-box-text">
          <h2>Do you want to conduct Ariel Servey?</h2>
          <button type="button" class="btn btn-warning btn-register mt-3" (click)="getContact()">Register Now </button>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-12 mt-4">
      <div class="black-img mt-4">
        <img class="black-img" src="../assets/drone.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-1 col-12 mt-4"></div>

  </div>
</div>
<!-- Content Bar 6 End -->


<app-footer></app-footer>