<!-- Header Start -->
<app-header></app-header>
<!-- Header End -->

<!-- Content Bar 1  Start -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 p-5 mt-4">
      <h4>Monitor fileds with anywhere with your smart phone</h4>
      <p class="mt-4 text-secondary">Monitor your crops remotely, find problem spots in your fields, add notes, apply
        variable fertillzer rates, create seeding prescriptions, and monitor crop rotation. All in one features with
        Pluvial App.</p>
      <div>
        <img src="../assets/images/google-play-store.png" height="50" width="100" class="" />
        <span style="margin-left: 20px;"> <img src="../assets/images/google-play-store.png" height="50"
            width="100" /></span>
      </div>
    </div>
  </div>
</div>

<!-- Content Bar 1 End -->

<!-- Content Bar 2 Start -->
<div class="container">
  <div class="row p-5">
    <div class="col-md-4 col-12 p-0 green-card mt-4">
      <div class="program-bar p-4">
        <h5 class="">Programs</h5>
        <p class="mt-2 p-3">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book.</p>
      </div>
    </div>

    <div class="col-md-8 col-12 content_body_2  mt-4">
      <div class="yellow-box p-4">
        <div class="row">
          <div class="col-md-4 col-12 p-3">
            <div class="white-box"></div>
            <div class="mt-4">
              <h6 class="">Program 1</h6>
              <p class="" style="word-wrap: break-word !important;">It is a long established fact that a reader will
                be distracted by the readable content of a page when looking at its layout.</p>
            </div>
          </div>
          <div class="col-md-4 col-12 main-white-box p-3">
            <div class="white-box1"></div>
            <div class="mt-4">
              <h6 class="">Program 1</h6>
              <p class="" style="word-wrap: break-word !important;">It is a long established fact that a reader will
                be distracted by the readable content of a page when looking at its layout.</p>
            </div>
          </div>
          <div class="col-md-4  col-12 p-3">
            <div class="white-box"></div>
            <div class="mt-4">
              <h6 class="">Program 1</h6>
              <p class="" style="word-wrap: break-word !important;">It is a long established fact that a reader will
                be distracted by the readable content of a page when looking at its layout.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Bar 2 End -->

<!-- Content Bar 3  Start -->
<div class="body-content-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4  col-12 mt-4">
        <h6 class="">Visiting The Dover School students Accomplishments</h6>
        <p class="mt-4 text-secondary">Thank you for visiting The Dover School website. We are very proud of our
          students' accomplishments, as well as our deep commitment to creating a warm and inviting community school.
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="Easytouse">
              <div class="row">
                <div class="col-md-12 p-4">
                  <p class="smallcircle"></p>
                  <p class="easy_title"><strong>Easy to use</strong></p>
                  <p>Thank you for visiting The Dover School website</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="Easytouse_white">
              <div class="row">
                <div class="col-md-12 p-4">
                  <p class="smallcircle_yashcolor"></p>
                  <p class="easy_title"><strong>Easy to use</strong></p>
                  <p>Thank you for visiting The Dover School website</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="Easytouse_white">
              <div class="row">
                <div class="col-md-12 p-4">
                  <p class="smallcircle_yashcolor"></p>
                  <p class="easy_title"><strong>Easy to use</strong></p>
                  <p>Thank you for visiting The Dover School website</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="Easytouse_white">
              <div class="row">
                <div class="col-md-12 p-4">
                  <p class="smallcircle_yashcolor"></p>
                  <p class="easy_title"><strong>Easy to use</strong></p>
                  <p>Thank you for visiting The Dover School website</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Content Bar 3 End -->

<!-- Content Bar 4 Start -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-5 mt-4"></div>
    <div class="col-md-7 mt-4">
      <h5>Visiting The Dover School students Accomplishments</h5>
      <p class="mt-4">Thank you for visting The Dover School website. We are very proud of our students'
        accomplishments, as well as our deep commitment to creatinga a warm and inviting community school. </p>
      <div class="row">
        <div class="col-md-6 mt-4">
          <h6>Topic</h6>
          <p class="mt-2">Thank you for visting The Dover School website. We are very proud of our students'
            accomplishments, as well as our deep commitment to creatinga a warm and inviting community school. </p>
        </div>
        <div class="col-md-6 mt-4">
          <h6>Topic</h6>
          <p class="mt-2">Thank you for visting The Dover School website. We are very proud of our students'
            accomplishments, as well as our deep commitment to creatinga a warm and inviting community school. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-4">
          <h6>Topic</h6>
          <p class="mt-2">Thank you for visting The Dover School website. We are very proud of our students'
            accomplishments, as well as our deep commitment to creatinga a warm and inviting community school. </p>
        </div>
        <div class="col-md-6 mt-4">
          <h6>Topic</h6>
          <p class="mt-2">Thank you for visting The Dover School website. We are very proud of our students'
            accomplishments, as well as our deep commitment to creatinga a warm and inviting community school. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Bar 4 End -->

<!-- Content Bar 5 Start -->
<div class="container mt-4">
  <h4 class="">Most Popular Courses</h4>
  <div class="row">
    <div class="col-md-3 col-12 mt-2">
      <div class="mt-4">
        <div class="card-info">
          <img class="card-img-top rounded-top" src="../assets/rice-img.jpg" alt="Card image cap" height="147px">
          <div class="card-body">
            <span class="card-text">Visiting The Dover School students Accomplishments</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
      <div class="mt-4">
        <div class="card-info">
          <img class="card-img-top rounded-top" src="../assets/boat.jpg" alt="Card image cap" height="147px">
          <div class="card-body">
            <span class="card-text">Visiting The Dover School students Accomplishments</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
      <div class="mt-4">
        <div class="card-info">
          <img class="card-img-top rounded-top" src="../assets/city.jpg" alt="Card image cap" height="147px">
          <div class="card-body">
            <span class="card-text">Visiting The Dover School students Accomplishments</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 mt-2">
      <div class="mt-4">
        <div class="card-info">
          <img class="card-img-top rounded-top" src="../assets/green-land.jpg" alt="Card image cap" height="147px">
          <div class="card-body">
            <span class="card-text">Visiting The Dover School students Accomplishments</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Bar 5 End -->

<!-- Content Bar 6 Start -->
<div class="container mt-4">
  <div class="row-info">
    <div class="col-md-1 col-12 mt-4"></div>
    <div class="col-md-5 col-12 mt-4">
      <div class="black-box mt-4">
        <div class="black-box-text">
          <h2>Do you want to conduct Ariel Servey?</h2>
          <button type="button" class="btn btn-warning btn-register mt-3">Register Now </button>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-12 mt-4">
      <div class="black-img mt-4">
        <img class="black-img" src="../assets/drone.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-1 col-12 mt-4"></div>

  </div>
</div>
<!-- Content Bar 6 End -->


<app-footer></app-footer>