<!-- Header Start -->
<app-header></app-header>
<!-- Header End -->
<div class="background-banner">
  <img src="/assets/images/teams.jpg" height="400vh" width="100%" />
</div>

<div class="container">
  <h3 class="devices-title"><u>Devices</u></h3>
  <div class="row">
    <div class="col-lg-4">
      <div class="inner">
        <img
          src="/assets/farming-img/Planting-Carrot-and-Radish.png"
          alt="carrot"
          width="350"
          height="250"
        />
      </div>

      <h4 class="devices-sub-title">Pluvial - Farm</h4>
      <p>
        Platform for precision farming to manage and preserve water resources
        using geospatial data, satellite imagery and national weather data.
        Pluvial - Farms is a low cost AI based platform with no equipment at
        farm location. It can accessed on any internet connected devices
      </p>
    </div>
    <div class="col-lg-4">
      <div class="inner">
        <img
          src="/assets/farming-img/veg-flower.png"
          alt="carrot"
          width="350"
          height="250"
        />
      </div>

      <h4 class="devices-sub-title">Pluvial - Device</h4>
      <p>
        Platform for precision farming to manage and preserve water resources
        using geospatial data, satellite imagery and national weather data.
        Pluvial - Farms is a low cost AI based platform with no equipment at
        farm location. It can accessed on any internet connected devices
      </p>
    </div>
    <div class="col-lg-4">
      <div class="inner">
        <img
          src="/assets/farming-img/mobile-device.jpeg"
          alt="carrot"
          width="350"
          height="250"
        />
      </div>

      <h4 class="devices-sub-title">Pluvial - Mobile Track</h4>
      <p>
        Platform for precision farming to manage and preserve water resources
        using geospatial data, satellite imagery and national weather data.
        Pluvial - Farms is a low cost AI based platform with no equipment at
        farm location. It can accessed on any internet connected devices
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="contentbar-device-title">Globally Accessible</h4>
          <p>
            Pluvial farm platform is accessible from any internet enabled
            devices. (Laptop, Smart Phones or Tablets)
          </p>
          <button type="button" class="btn btn-outline-success">
            Read More
          </button>
        </div>
        <div class="col-lg-6">
          <h4 class="contentbar-device-title">Low Cost Model</h4>
          <p>
            Pluvial offers a low cost monthly subscription service. No software
            to install or maintain.
          </p>
          <button type="button" class="btn btn-outline-success">
            Read More
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h4 class="contentbar-device-title">Support Services</h4>
          <p>
            Our support Services are available to help you with any issues
            accessing the platform
          </p>
          <button type="button" class="btn btn-outline-success">
            Read More
          </button>
        </div>
        <div class="col-lg-6">
          <h4 class="contentbar-device-title">No Equipment</h4>
          <p>Farms do not have to install any equipment.</p>
          <button type="button" class="btn btn-outline-success">
            Read More
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h4 class="contentbar-device-title">Pluvial Devices</h4>
      <p>
        Devices for precision farming to manage and preserve water resources
        using geo-spatial data, satellite imagery and national weather data.
      </p>
    </div>
  </div>
</div>

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
