.devices-title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
.devices-sub-title {
  text-align: center;
  margin-top: 10px;
  color: rgb(62, 134, 104);
}
.contentbar-device-title {
  margin-top: 40px;
}

.inner {
  overflow: hidden;
  cursor: pointer;
}
.inner img {
  transition: all 1.5s ease;
}
.inner:hover img {
  transform: scale(1.5);
}

@media only screen and (max-width: 600px) {
  .globally-media {
    text-align: center;
  }

  .device-content1-img {
    height: 50%;
    width: 100%;
  }
}
