.devices-title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.devices-sub-title{
    text-align: center;
    margin-top: 10px;
    color: rgb(62, 134, 104);
}
.contentbar-device-title{
    margin-top: 40px;
}